<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>Novo projeto</title>
    </head>
    <body id="">
        <h1 id="">Cadastro de novo Projeto</h1>
        <form action="" method="post" accept-charset="utf-8">
            <p><label for="nome">{{ form.nome.label }}:</label><br />
            {{ form.nome() }}</p>
            <p><label for="descricao">{{ form.descricao.label }}:</label><br />
            {{ form.descricao() }}</p>
            <p><input type="submit" value="Cadastrar"/></p>
        </form>
    </body>
</html>
